@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --cl-primary: #373e92;
  --cl-secondary: #ffc809;
  --font-primary: "Inter", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
  color: #000;
  background-color: var(--cl-secondary);
  overflow-x: hidden;
}
.container {
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
ul {
  list-style: none;
}
input,
button,
select {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.hidden {
  display: none;
}
header {
  background-color: #fff;
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 230px;
  padding: 8px 0px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 65px;
}
.header-menu li a {
  font-weight: 600;
  transition: all 0.3s ease;
  color: #000;
}
.header-menu li a.active,
.header-menu li a:hover {
  color: var(--cl-secondary);
}

/* main */
.banner img {
  width: 100%;
}
.gif-form {
  position: relative;
}
.gif-form-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gif-form-bg img {
  width: 100%;
}
.gif-form-wrapper {
  z-index: 10;
  display: flex;
  gap: 100px;
  position: relative;
}
.gif-form-wrapper > div {
  max-width: 50%;
  flex-basis: 50%;
}
.gif-slider {
  max-width: 100%;
}
.gif-thumb {
  max-width: 100%;
  padding: 100px 0px 60px;
}
.gif-album {
  max-width: 100%;
}
.gif-info {
  background: linear-gradient(0deg, #313682, #313682),
    radial-gradient(
      147.78% 100% at 50% -4950%,
      rgba(49, 55, 125, 0) 33%,
      rgba(49, 55, 125, 0.5) 100%
    );
  border: 1px solid #fddc7c;
  box-shadow: 0px 0px 20px 1px #ffc312ab inset, 0px 4px 32px 0px #00000029;
  text-align: center;
  color: var(--cl-secondary);
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  min-height: 64px;
  max-width: 440px;
  padding: 15px 20px;
  width: 100%;
  margin: 70px auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif-thumb .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif-thumb .swiper-slide img {
  width: 60%;
  user-select: none;
}
.gif-thumb-decor {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 450px;
  width: 100%;
  max-height: 160px;
  height: 100%;
  transform: translateX(-50%);
}
.gif-slider .swiper-button-next:after,
.gif-slider .swiper-button-prev:after {
  width: 32px;
  height: 32px;
  background: #ffffff80;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--cl-secondary);
}
.gif-album .swiper-slide {
  width: 80px !important;
  height: 80px;
  padding: 10px;
  background: #ffffff4d;
  border: 1px solid #fff3d2;
  border-radius: 12px;
  cursor: pointer;
}
.gif-album .swiper-wrapper {
  gap: 12px;
  justify-content: center;
}
.gif-album .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid #303683;
}
.gif-slider {
  position: relative;
}
.gif-slider-decor2 {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: scale(1.15);
  z-index: -1;
}
.gif-slider .swiper-button-prev {
  left: 65px !important;
}
.gif-slider .swiper-button-next {
  right: 65px !important;
}
.gif-form-wrapper {
  padding-bottom: 65px;
}
.gif-thumb .swiper-wrapper {
  align-items: center;
}
.form-register {
  padding-top: 30px;
}
.form-register img {
  display: flex;
  margin: 0px auto;
}
.form-register form {
  background-color: var(--cl-primary);
  border-radius: 20px;
  position: relative;
  padding: 20px 32px;
}
.cloud::before,
.cloud:after {
  content: "";
  position: absolute;
  background-image: url("./images/cloud.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 85px;
  height: 58px;
}
.cloud::before {
  top: -20px;
  right: -50px;
}
.cloud::after {
  bottom: -20px;
  left: -50px;
}
.form-register form h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--cl-secondary);
  margin-bottom: 16px;
  text-align: center;
}
.form-register form input,
.form-register form select {
  background: #fff;
  min-height: 48px;
  border-radius: 8px;
  padding: 13px;
  margin-bottom: 12px;
  appearance: none;
  -webkit-appearance: none;
  color: var(--cl-primary);
  width: 100%;
  font-weight: 500;
  font-family: var(--font-primary);
}
.form-register form input::placeholder {
  color: var(--cl-primary);
  font-weight: 500;
  font-family: var(--font-primary);
}
/* Ẩn spinner trên Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn spinner trên Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form-register form button {
  border-radius: 8px;
  background-color: var(--cl-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  color: var(--cl-primary);
  font-weight: 700;
  margin-top: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.gif-list {
  position: relative;
  padding-bottom: 200px;
}
.gif-list-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-position: bottom;
}
.gif-list-wrapper {
  z-index: 10;
}
.gif-list-wrapper h2 {
  color: var(--cl-secondary);
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(270deg, #fff1d4 0%, #fbce6d 50.83%, #fff1d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-top: 60px;
  margin-bottom: 100px;
}
.gif-list-wrapper h2:before {
  content: "";
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./images/line.svg");
  width: 170px;
  height: 84px;
  background-size: contain;
}
.gif-list-item {
  background: linear-gradient(93.08deg, #ffffff -50%, #ffc92b 44.81%),
    radial-gradient(
      147.78% 100% at 50% -4950%,
      rgba(247, 228, 172, 0) 33%,
      rgba(255, 208, 70, 0.6) 100%
    );
  border: 1px solid #fddc7c;
  box-shadow: 0px 0px 20px 1px #ffffff inset, 0px 4px 32px 0px #00000029;
  position: relative;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 242px;
  margin-bottom: 100px;
  width: 100%;
}
.gif-item-main {
  padding-left: 68px;
}
.gif-item-main > span {
  background: linear-gradient(316deg, #ffbe00 15.89%, #f8c845 86.82%);
  box-shadow: 0px 2.81px 5.13px 1.41px #fddc7c inset;
  min-height: 72px;
  margin-top: -36px;
  border-radius: 36px;
  padding: 20px 30px;
  color: var(--cl-primary);
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 24px;
  position: relative;
  left: -40px;
  display: flex;
  align-items: center;
  width: max-content;
  text-transform: uppercase;
}
.gif-item-main h3 {
  color: var(--cl-primary);
  font-size: 30px;
  margin-bottom: 16px;
}
.gif-item-main p {
  display: flex;
  align-items: center;
  gap: 12px;
}
.gif-item-main p span {
  background: linear-gradient(
      93.08deg,
      rgba(255, 255, 255, 0.7) -50%,
      rgba(0, 41, 107, 0.7) 44.81%
    ),
    radial-gradient(
      147.78% 100% at 50% -4950%,
      rgba(0, 41, 107, 0) 33%,
      rgba(0, 41, 107, 0.6) 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 20px;
  font-weight: 600;
}
.gif-item-main p span:last-child {
  font-size: 28px;
  font-weight: 700;
}
.gif-item-img img {
  position: absolute;
}
.gif-list-item:nth-child(1) img {
  top: -135px;
}
.gif-list-item:nth-child(2) img {
  top: -90px;
}
.gif-list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0px auto;
}
.gif-list-item:nth-child(3),
.gif-list-item:nth-child(4) {
  flex-basis: 49%;
  max-width: 49%;
}
.gif-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.gif-list-item:nth-child(3) h3,
.gif-list-item:nth-child(4) h3 {
  font-size: 28px;
}

.gif-list-item:nth-child(3) p span:last-child,
.gif-list-item:nth-child(4) p span:last-child {
  font-size: 24px;
}
.rules {
  background-color: #fec621;
  position: relative;
  padding-top: 60px;
  padding-bottom: 300px;
}
.rules::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./images/rules-bg-bottom.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 330px;
}
.rules-wrapper h2 {
  background: linear-gradient(90deg, #464ca0 0%, #303683 49.72%, #464ca0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 53px;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
}
.rules-content {
  position: relative;
  background: linear-gradient(0deg, #353981, #353981),
    radial-gradient(
      147.78% 100% at 50% -4950%,
      rgba(49, 55, 125, 0) 33%,
      rgba(49, 55, 125, 0.5) 100%
    );
  border: 1px solid #fddc7c;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px #ffc312ab inset, 0px 4px 32px 0px #00000029;
  padding: 50px 82px;
  font-size: 28px;
  line-height: calc(38 / 28);
  max-width: 1140px;
  margin: 0px auto;
  font-weight: 300;
  margin-bottom: 86px;
}
.rules-content p {
  color: #fff;
}
.rules-content p strong {
  color: var(--cl-secondary);
}
.rules-content ol {
  padding-left: 30px;
}
.rules-content ol li {
  font-weight: 600;
  color: var(--cl-secondary);
}
.rules-bottom {
  max-width: 976px;
  margin: 0px auto;
}
.rules-desc {
  position: relative;
  padding: 48px 0px;
  margin: 0px auto;
  color: var(--cl-primary);
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.rules-desc:before,
.rules-desc:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(255, 245, 190, 0) 3.64%,
    #33387f 49.92%,
    rgba(255, 245, 190, 0) 91.96%
  );
}
.rules-desc:before {
  top: 0;
}
.rules-desc:after {
  bottom: 0;
}
.rules-bottom h2 {
  position: relative;
}
.rules-bottom h2::before {
  content: "";
  position: absolute;
  right: 0px;
  background-image: url("./images/fl.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 69px;
}
.rules-desc a {
  color: var(--cl-primary);
  font-weight: 700;
}
.header-icon-menu,
.header-icon-close {
  display: none;
}

/* footer */
footer {
  background-color: rgb(5, 31, 77);
}
.footer-wrapper h2 {
  padding: 20px 0px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.footer-list {
  display: grid;
  grid-template-columns: 1.5fr 1.9fr 1.9fr 1.8fr;
  gap: 10px;
}
.footer-item {
  padding-left: 20px;
  border-left: 1px dotted rgb(255, 255, 255);
}
.footer-item:first-child {
  border: none;
}
.footer-item h3 {
  font-size: 18px;
  color: var(--cl-secondary);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-address li,
.footer-address li a {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #fff;
}
.footer-address li i,
.footer-address li a i {
  color: var(--cl-secondary);
  font-size: 18px;
}
.footer-bottom a {
  border-top: 1px solid #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  gap: 10px;
  color: #fff;
}
.footer-bottom a i {
  color: var(--cl-secondary);
}
/*  */
.lucky {
  position: relative;
  background: linear-gradient(180deg, #ffd441 0%, #ffc313 13.22%);
  z-index: 10;
  padding-bottom: 80px;
}
.lucky h2 {
  text-align: center;
  background: linear-gradient(90deg, #464ca0 0%, #303683 49.72%, #464ca0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 60px;
  font-size: 48px;
  font-weight: 800;
}
.lucky-spin {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}
.lucky-spin-bg {
  position: absolute;
  z-index: 0;
}
.lucky-spin-img {
  z-index: 10;
}
.lucky-spin a {
  z-index: 10;
  margin-top: 60px;
  background-color: var(--cl-primary);
  color: var(--cl-secondary);
  max-width: 340px;
  width: 100%;
  min-height: 56px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.form-lucky .form-register {
  max-width: 496px;
  position: relative;
}
.form-lucky .form-register form > span {
  background: #fff;
  min-height: 48px;
  border-radius: 8px;
  padding: 13px;
  margin-bottom: 12px;
  color: var(--cl-primary);
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-lucky .form-register input {
  text-align: center;
  font-size: 16px;
}
.form-lucky-main form {
  margin-bottom: 60px;
  width: 100%;
}
.form-lucky-main {
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-content {
  padding-top: 60px;
  width: 100%;
}
.form-lucky-main-bg {
  position: absolute;
  z-index: -1;
  top: -65px;
  left: -35px;
  transform: scale(1.5);
}

.form-content > span {
  font-size: 16px;
  text-align: center;
  color: var(--cl-primary);
  font-style: italic;
  display: flex;
  justify-content: center;
}
.form-lucky .gif-thumb .swiper-slide img {
  width: 70%;
}
.form-lucky .gif-slider-decor2 {
  height: 100%;
}
.form-lucky .gif-thumb-decor {
  bottom: 40px;
}
.form-lucky .gif-thumb {
  padding-top: 20px;
}
.vongquaymayman {
  position: relative;
}
.vongquaymayman .arrow {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.vongquaymayman img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.vongquaymayman img:nth-child(2) {
  width: 80%;
}
/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup-wrapper {
  max-width: 650px;
  position: relative;
  border-radius: 8px;
  overflow: auto;
  padding: 90px 20px 32px;
}
.popup-wrapper::-webkit-scrollbar {
  width: 0px;
}
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-position: top left;
  z-index: -1;
}
.popup-wrapper h2 {
  font-size: 24px;
  text-align: center;
  color: #00296b;
  text-transform: uppercase;
  max-width: 84%;
  margin: 0px auto 12px;
}
.btn-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: var(--cl-primary);
  cursor: pointer;
}
.popup-wrapper .popup-code {
  border: 1px solid #00296b80;
  background: #ffffff36;
  backdrop-filter: blur(13.600000381469727px);
  padding: 13px 20px;
  color: var(--cl-primary);
  border-radius: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  max-width: 360px;
  font-weight: 700;
}
.popup-wrapper p {
  color: #00296b;
  font-size: 18px;
  max-width: 80%;
  margin: 0px auto;
  font-weight: 600;
  text-align: center;
}
.popup-wrapper a {
  background-color: #00296b;
  color: var(--cl-secondary);
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  max-width: 432px;
  width: 100%;
  margin: 32px auto 0px;
  font-weight: 600;
}
.popup-img {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.popup-quaythuong .popup-wrapper p {
  margin-top: 24px;
  max-width: 90%;
}
.popup-quaythuong .popup-wrapper h2 {
  margin-bottom: 0px;
}
@media screen and (max-width: 1024px) {
  .header-wrapper {
    gap: 100px;
    justify-content: space-between;
  }
  .header-menu {
    gap: 20px;
  }
  .gif-form-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .gif-form-wrapper > div {
    max-width: 70%;
    flex-basis: 70%;
  }
  .gif-list-item {
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
  }
  .gif-item-img img {
    position: relative;
    top: 0 !important;
  }
  .gif-item-main {
    padding-left: 40px;
  }
  .gif-item-main > span {
    left: -20px;
  }
  .gif-item-main h3 {
    font-size: 22px;
  }
  .gif-item-main p span:last-child {
    font-size: 24px;
  }
  .gif-list-item:nth-child(3),
  .gif-list-item:nth-child(4) {
    flex-basis: 100%;
    max-width: 100%;
  }
  .rules-content {
    max-width: 85%;
    padding: 40px;
    font-size: 22px;
  }
  .rules-desc {
    font-size: 22px;
    padding: 32px 0px;
  }
  .rules-wrapper h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .header-icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cl-primary);
    font-size: 20px;
  }
  header nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  header nav.active {
    opacity: 1;
    visibility: visible;
  }
  .header-icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-primary);
    font-size: 20px;
  }
  .header-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    max-width: 70%;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    position: relative;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  header nav.active .header-menu {
    transform: translateX(0);
  }
  .gif-info {
    font-size: 16px;
    max-width: 100%;
    min-height: 50px;
    border-radius: 16px;
    padding: 10px;
    margin-top: 30px;
  }
  .gif-form-wrapper > div {
    max-width: 100%;
    flex-basis: 100%;
  }
  .gif-slider .swiper-button-next {
    right: 10px !important;
  }
  .gif-slider .swiper-button-prev {
    left: 10px !important;
  }
  .gif-thumb-decor {
    max-width: 260px;
    max-height: 90px;
  }
  .gif-slider-decor2 {
    height: 100%;
    bottom: 80px;
  }
  .gif-album .swiper-wrapper {
    gap: 10px;
  }
  .gif-album .swiper-slide {
    width: 60px !important;
    height: 60px;
    padding: 5px;
    margin-right: 0px !important;
  }
  .gif-thumb {
    padding: 40px 0px 30px;
  }
  .gif-form-wrapper {
    gap: 20px;
  }
  .form-register form {
    padding: 15px 25px;
  }
  .form-register form h3 {
    font-size: 16px;
  }
  .cloud::before,
  .cloud:after {
    display: none;
  }
  .gif-list-wrapper h2 {
    font-size: 28px;
    padding-top: 40px;
    margin-bottom: 60px;
  }
  .gif-item-main > span {
    font-size: 16px;
    padding: 10px 20px;
    min-height: 50px;
    margin-top: -20px;
    margin-bottom: 15px;
    left: 0;
  }
  .gif-list-item {
    grid-template-columns: 1fr;
  }
  .gif-item-main br {
    display: none;
  }
  .gif-item-main {
    padding-left: 20px;
  }
  .gif-item-main h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .gif-item-main p span {
    font-size: 18px;
  }
  .gif-item-main p span:last-child {
    font-size: 22px;
  }
  .gif-item-main p {
    gap: 6px;
  }
  .gif-item-img {
    padding: 20px;
  }
  .gif-list-item:nth-child(3) p span:last-child,
  .gif-list-item:nth-child(4) p span:last-child {
    font-size: 22px;
  }
  .rules-wrapper h2 {
    font-size: 28px;
  }
  .rules-content {
    max-width: 100%;
    padding: 25px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .rules-bottom h2::before {
    display: none;
  }
  .rules-desc {
    font-size: 20px;
  }
  .rules {
    padding-bottom: 240px;
  }
  /* footer */
  .footer-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer-item,
  .footer-item:first-child {
    border-left: 0px;
    border-bottom: 1px dotted rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .footer-item:last-child {
    border-bottom: 0px;
  }
  .footer-wrapper h2 {
    font-size: 20px;
  }
  .gif-form {
    overflow: hidden;
  }
  .lucky {
    padding-bottom: 0;
  }
  .lucky-spin-bg {
    top: 50%;
    transform: scale(1.5) translateY(-50%);
  }
  .lucky h2 {
    font-size: 30px;
    padding-top: 40px;
  }
  .lucky-spin {
    padding: 30px 0px;
  }
  .lucky-spin-img {
    width: 80%;
  }
  .form-lucky .gif-thumb .swiper-slide img {
    width: 90%;
  }
  .form-lucky .gif-thumb-decor {
    bottom: 0px;
  }
  .form-lucky .gif-thumb {
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .form-lucky .gif-thumb .swiper-slide {
    aspect-ratio: 1/1;
  }
  .form-lucky-main-bg {
    top: 0;
  }
  .popup-wrapper {
    padding: 60px 20px 20px;
  }
  .popup-wrapper h2 {
    font-size: 18px;
    max-width: 100%;
  }
  .popup-wrapper p {
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .popup-wrapper a {
    font-size: 14px;
  }
  .popup-bg {
    height: 100%;
  }
}
header {
  border-bottom: 1px solid #f5f5f5;
}
#result {
  padding: 50px 0px;
  background-color: #fff;
}
#result h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: var(--cl-primary);
  margin-bottom: 30px;
}
.result-table {
  overflow-x: auto;
}
#result table {
  border-collapse: collapse;
  width: 100%;
  min-width: 768px;
}
#result table tr {
  display: grid;
  grid-template-columns: 1.5fr 1fr 3.5fr 1.5fr;
}
#result table tr th,
#result table tr td {
  border: 1px solid #eee;
  border-right: 0px;
  border-bottom: 0px;
  text-align: left;
  min-height: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
#result table tr th:last-child,
#result table tr td:last-child {
  border-right: 1px solid #eee;
}
#result table tbody tr:last-child {
  border-bottom: 1px solid #eee;
}
#result table tr th {
  background-color: var(--cl-primary);
  color: #fff;
  font-weight: 500;
}
#result table tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  #result h2 {
    font-size: 20px;
  }
  #result table tr {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
  #result table tr th,
  #result table tr td {
    font-size: 14px;
  }
}
